<div class="ui grid center aligned">
  <div class="ten wide column">
    <h2>All Clubs</h2>
    <div class="ui grid center aligned">
      <% in_columns(@clubs).each do |clubs| %>
        <div class="four wide column">
          <div class="ui relaxed divided list">
            <%= render clubs %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="two wide column">
    <h2>Add Club</h2>
    <%= form_for(@club, html: {class: 'ui form'}) do |f| %>
      <div class="field">
        <%= f.label :name, 'Club Name' %>
        <%= f.text_field :name, placeholder: 'Awesome Co. Club' %>
      </div>
      <div class="field">
        <%= f.label :city %>
        <%= f.text_field :city, placeholder: 'Sydney' %>
      </div>
      <div class="field">
        <%= f.label :state, 'State / Province / County' %>
        <%= f.text_field :state, placeholder: 'NY' %>
      </div>
      <div class="field">
        <%= f.label :country, 'Country' %>
        <%= render 'partials/country_selector' %>
      </div>
      <button class="ui button" type="submit">Submit</button>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'clubs', 'data-turbolinks-track' => true %>
