<div class="ui grid center aligned">
  <div class="ten wide column">
    <h2>All Clubs</h2>
    <% @clubs.each do |club| %>
      <div class="club">
        <a class="ui blue image label" href="/<%= club[:resource_name] %>/leaderboard">
          <i class="<%= club[:country] %> flag"></i>
          <%= club[:name] %>
          <div class="detail"><%= club[:player_count] %></div>
        </a>
      </div>
    <% end %>
  </div>
  <div class="two wide column">
    <h2>Add Club</h2>
    <div class="ui form">
      <div class="field">
        <label>Club Name</label>
        <input name="club-name" placeholder="Awesome Co. Club" type="text">
      </div>
      <div class="field">
        <label>City</label>
        <input name="city" placeholder="Sydney" type="text">
      </div>
      <div class="field">
        <label>State / Province / County</label>
        <input name="state" placeholder="NY" type="text">
      </div>
      <div class="field">
        <label>Country</label>
        <%= render 'partials/country_selector' %>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
  </div>
</div>

<%= javascript_include_tag 'clubs', 'data-turbolinks-track' => true %>
