<div class="ui grid center aligned">
  <div class="ten wide column">
    <h2>All Clubs</h2>
    <div class="ui grid center aligned">
      <div class="four wide column">
        <div class="ui relaxed divided list">
          <% @clubs_1_step.each do |club| %>
            <div class="item">
              <div class="content">
                <a class="header" href="/<%= club[:resource_name] %>/leaderboard"><i class="<%= club[:country] %> flag"></i> <%= club[:name] %></a>
                <div class="description"><%= club[:player_count][0] %> players</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui relaxed divided list">
          <% @clubs_2_step.each do |club| %>
            <div class="item">
              <div class="content">
                <a class="header" href="/<%= club[:resource_name] %>/leaderboard"><i class="<%= club[:country] %> flag"></i> <%= club[:name] %></a>
                <div class="description"><%= club[:player_count][0] %> players</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui relaxed divided list">
          <% @clubs_3_step.each do |club| %>
            <div class="item">
              <div class="content">
                <a class="header" href="/<%= club[:resource_name] %>/leaderboard"><i class="<%= club[:country] %> flag"></i> <%= club[:name] %></a>
                <div class="description"><%= club[:player_count][0] %> players</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="two wide column">
    <h2>Add Club</h2>
    <%= form_tag({controller: 'club', action: 'create'}, method: 'post', class: 'ui form') do %>
      <div class="field">
        <label>Club Name</label>
        <input name="club-name" placeholder="Awesome Co. Club" type="text">
      </div>
      <div class="field">
        <label>City</label>
        <input name="city" placeholder="Sydney" type="text">
      </div>
      <div class="field">
        <label>State / Province / County</label>
        <input name="state" placeholder="NY" type="text">
      </div>
      <div class="field">
        <label>Country</label>
        <%= render 'partials/country_selector' %>
      </div>
      <button class="ui button" type="submit">Submit</button>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'clubs', 'data-turbolinks-track' => true %>
